# PDF 파일 무시
# 6. Document_loader/data/test.pdf

# 폴더 무시
6. Document_loader/data/
7. Text_Splitter/data/
8. Embeddings/data
8. Embeddings/images
8. Embeddings/cache
# 모든 로그 파일 무시
*.log

# 임시 파일 무시
*.tmp