# PDF 파일 무시
# 6. Document_loader/data/test.pdf

# 폴더 무시
99. 강의_project
0. Project/data
6. Document_loader/data/
7. Text_Splitter/data/
8. Embeddings/data
8. Embeddings/images
8. Embeddings/cache
9. VectorStore/data
9. VectorStore/db
10. Retriever/data
11. Reranker/data
11. Reranker/Reranker.md
12. RAG/data
12. RAG/cache
13. Chains/data
16. Agent/img

# 모든 로그 파일 무시
*.log

# 임시 파일 무시
*.tmp